<div class="container">
    <form (ngSubmit)="Update()">
        <div class="form-group">
            <label>Room Type Id</label>
            <!-- <input type="text" class="form-control" id="roomTypeId" name="roomTypeId"
                [(ngModel)]="room.roomTypeId" /> -->
            <div *ngFor="let type of roomtypes">
                <input type="radio" [value]="type.id" name="roomtype" [(ngModel)]="room.roomTypeId" /> {{type.rtdesc}}
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="checkbox" style="margin-left: 20px;" [checked]="room.status" id="status" name="status"
                [(ngModel)]="room.status" />
        </div>

        <input type="submit" class="btn btn-primary" value="submit" />
    </form>
</div>
